{% extends 'class/baseIndex.html' %}

{% block page %}

<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



    <h1 style="text-align: center; font-family: 'Fredoka One', cursive; color: #700FA8">Welcome to Class Communicator!</h1>
    <h4 style="text-align: center; font-family: 'Fredoka One', cursive; color: #700FA8">Login or Sign Up</h4>
<br><br>
    <div style="text-align: center;">
    <a href="login">
    <button style="background-color: #700FA8;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Fredoka One', cursive; color: aqua;
border-radius: 8px
">Login</button>
    </a>
    <a href="signup">
    <button style="background-color: #700FA8;
    color: white;
    padding: 12px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: 'Fredoka One', cursive; color: aqua;
border-radius: 8px
">Sign Up</button>
        </a>
</div>




{% endblock %}
</body>